<%- include('partials/header') %>
<link rel="stylesheet" href="css/search.css">
</head>

<body>
<div id="preloader">
    <div class="rotate">
        <img src="css/svgs/basketball.svg" id="loading-svg" alt="icon">
    </div>
</div>    
<header>
    <div class="navbar">
        
        <form action="/watched" method="get">
            <button>Watched</button>
        </form>
        <form action="/watch_later" method="get">
            <button>Watch Later</button>
        </form>
        <form action="/search" method="post">
            <input type="search" id="search" name="search" placeholder="Search Movie" required>
            <input type="submit" value="Search" >
        </form>       
    </div>
</header>
<% if(locals.movies){ %>
    <div class="grid-class">
    <% movies.forEach(movie=>{ %>
        <div class="movie-container">
            <img height="300px" width="227px" src="https://image.tmdb.org/t/p/w500/<%= movie.poster %>">
            <h3><%= movie.movie_name %></h3>
            <!--action="/put_watched" method="post"-->
            <form id="choice_watched"class="choice_watched" >
                <input type="hidden" name="poster" value="<%= movie.poster %>">
                <input type="hidden" name="name" value="<%= movie.movie_name %>">
                <button  class="input">Watched</button>
            </form>
            <!--action="/watch_later" method="post"-->
            <form id="choice_remove"class="choice_remove" >
                <input type="hidden" name="poster" value="<%= movie.poster %>">
                <input type="hidden" name="name" value="<%= movie.movie_name %>">
                <button  class="input">Remove</button>
            </form>
        </div>
        
    <% }) %>
    </div>
<% }else{ %>
    <center><div class="grid-class">
        <h1>OOPS! Nothing to Show HERE!</h1>
    </div></center>
<% } %>




<script>
    //for watched
    const forms = document.querySelectorAll(".movie-container");
    forms.forEach(form => {
        form.querySelector(".choice_watched").addEventListener("submit", async (e) => {
            e.preventDefault();
            //disable button
            form.querySelector(".choice_watched").querySelector(".input").disabled = true;
            form.querySelector(".choice_remove").querySelector(".input").disabled = true;
            // 'e.target' refers specifically to the form that was submitted
            const formData = new FormData(e.target);
            const data = Object.fromEntries(formData.entries());

            console.log("Sending data:", data); // Debug here to see if values are still null

            try {
                const response = await fetch("/put_watched", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });
                const res = await response.json();
                if (res.status==="done") {
                    form.remove();
                    alert("Movie added to watched 🎉");
                }else if(res.status==="present") {
                    form.remove();
                    alert("Already in Watched!");
                }else{
                    form.querySelector(".choice_watched").querySelector(".input").disabled = false;
                    form.querySelector(".choice_remove").querySelector(".input").disabled = false;
                    alert("Something Went Wrong!");
                }
            } catch (err) {
                form.querySelector(".choice_watched").querySelector(".input").disabled = false;
                form.querySelector(".choice_remove").querySelector(".input").disabled = false;
                alert("Something Went Wrong!");
                console.error(err);
            }
        });
    });
  //for removing
    
    forms.forEach(form => {
        form.querySelector(".choice_remove").addEventListener("submit", async (e) => {
            e.preventDefault();
            form.querySelector(".choice_remove").querySelector(".input").disabled = true;
            form.querySelector(".choice_watched").querySelector(".input").disabled = true;

            // 'e.target' refers specifically to the form that was submitted
            const formData = new FormData(e.target);
            const data = Object.fromEntries(formData.entries());

            console.log("Sending data:", data); // Debug here to see if values are still null

            try {
                const response = await fetch("/remove_watch_later", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });
                res=await response.json();
                if (res.status==="done") {
                    form.remove();
                    alert("Movie removed from Watch Later!");
                }else if(res.status==="watched"){
                    form.remove();
                    alert("Already in Watched!");
                }else {
                    form.querySelector(".choice_watched").querySelector(".input").disabled = false;
                    form.querySelector(".choice_remove").querySelector(".input").disabled = false;
                    alert("Something Went Wrong!");
                }
            } catch (err) {
                console.error(err);
            }
        });
    });

  //something
  

</script>


<%- include('partials/footer') %>
            